<ul class="nav nav-tabs" role="tablist">
  <li><a href="#/stories">Stories</a></li>
  <li class="active"><a href="#/feeds">Feeds</a></li>
</ul>

<p/>

<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Feed</th>
      <th>Tags</th>
    <tr>
    <tr ng-repeat="feed in feeds">
      <td class="lead">{{feed.Url}}</td>
      <td>
        <ul class="list-inline">
          <li ng-repeat="tag in feed.Tags">{{tag}}</li>
        </ul>
      </td>
      <td>
        <button class="btn btn-sm" ng-click="removeFeed($index)">Remove</button>
      </td>
    </tr>
  </table>
</div>

<form class="form-inline" role="form">
  <div class="form-group">
    <input class="form-control" type="text" ng-model="feedUrl"  size="30" placeholder="add url here">
    <input class="form-control" type="text" ng-model="feedTags"  size="30" placeholder="add tags here">
  </div>
  <button class="btn btn-primary" type="button" ng-click="addFeed()">
    <span class="glyphicon glyphicon-star"></span> Add
  </button>
</form>
