<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#/stories">Stories</a></li>
  <li><a href="#/feeds">Feeds</a></li>
</ul>

<div>
  <form class="form-inline" role="form">
    <div class="form-group">
      <select id="tag" ng-model="selectedTag" class="form-control">
        <option ng-repeat="tag in tags">{{tag}}</option>
      </select>
      <input type="text" class="form-control" placeholder="Search">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>

<div ng-repeat="story in stories" class="story" ng-class-odd="'odd'" ng-class-even="'even'">
  <div class="story-actions btn-group" role="group">
    <button type="button" class="btn btn-default" ng-click="toggleFavorite($index)">
      <span class="glyphicon {{starType(isFavorite($index))}}" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="remove($index)">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
  </div>
  <p class="lead"><a href="{{story.Link}}">{{story.Title}}</a></p>
  <small>{{story.Date}}</small>
</div>
